@media screen {
}
@media (max-width: 600px) {
    #MainMenuMain {
        display: flex;
        flex-direction: column;
    }
    #Cat {
        display: flex;
        align-items: center;
        margin-bottom: 100px;
        flex-direction: column;
    }
    #Cat img {
        height: 80%;
        width: 80%;
    }
}
@media (min-width: 600px) {
    
    .vjuh a, .vjuh p {
        padding: 20px;
    }
    #Cat {
        display: flex;
        margin-bottom: 100px;
        flex-direction: row-reverse
    }
    #MainMenuMain {
        display: flex;
    }
}
